<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>Shortlink Info</h2>
      <table>
        <tr>
          <th>Shortlink</th>
          <td><a href="../u/<%= shortURL %>">http://localhost:8080/u/<strong><%= shortURL %></strong></a></td>
        </tr>
        <tr>
          <th>Full URL</th>
          <td><strong><a href="<%= urlInfo['url'] %>"><%= urlInfo['url'] %></a></strong></td>
        </tr>
        <tr>
          <th>Date Created</th>
          <td><%= urlInfo["dateCreated"].toDateString() %> <%= urlInfo["dateCreated"].toLocaleTimeString() %></td>
        </tr>
        <tr>
          <th>Hits</th>
          <td><%= urlInfo["hits"] %></td>
        </tr>
      </table>

      <h3>Update this shortlink</h3>
      <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
        <label for="longURL">Enter a new URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>
    </ul>

    <!-- <img src="../doge.jpg"/> -->
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>