<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <!-- List all URLs with a delete button -->
    <ul>
      <% for (key in urls) { %>
      <li>
        localhost:8080/u/<strong><%= key %></strong> ----> <a href="<%= urls[key] %>"><%= urls[key] %></a>
        <a href="./urls/<%= key %>">Edit</a>
        <form method="POST" action="/urls/<%= key %>/delete"><input type="submit" value="Delete"></form>
      </li>
      <% }; %>
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>